
/* Baseline Page Margins */
/* 
.main-container {
max-width: 1140px;
margin-left: auto;
margin-right: auto;
}
*/

/* Adjusts distance between header and content*/
body {
 margin-top: 30px;
}  

/* Edit Button Style for Appendix, Replication Code, Ungated Drafts */
.button {
  background-color: #6a9bc3; /* Lighter Blue */
  border: none;
  color: white;
  padding: 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #38678f; /* Darker Blue /// 4682B4 */
  color: white;
}
form { 
  display: inline; 
} 

/* Adjust Block-Quote Text Size, Margin, Border Width */
blockquote {
    padding: 10px 10px;
    margin-left: 30px;
    font-size: 12px;
    border-left: 3px solid;
}