
/* Baseline Page Margins */
/* 
*/
.main-container {
max-width: 1140px;
margin-left: auto;
margin-right: auto;
}

/* Navbar -- Increase height*/
.navbar {
  padding-top: 25px; 
}
/* Navbar - Page Links */
.nav a{
  font-size: 1.75rem; 
}
/* Navbar - Name */
.navbar-brand{
  font-size: 3.25rem;
}
/* Navbar - Page Links -- Adjusts vertical location
.nav li{
  padding-top: 7.5px; 
}
*/

/* Adjust distance between navbar and content + Adjust base font size */
body {
 margin-top: 50px; 
 font-size: 11pt;
}  

/* Edit Button Style for Appendix, Replication Code, Ungated Drafts */
.btn{
 background-color: #737373;
 color: white;
 border: none;
 opacity: 0.80;
 padding: 2px 5px;
 text-decoration: none;
 display: inline;
 cursor: pointer;
 border-radius: 4px;
 transition-duration: 0.4s; 
}
.btn-xs{
  font-size: 1rem; /* Change size of btn text relative to default*/
}

.btn:hover {
 background-color: #333333; /* Shades of Blue: #38678f, #4682B4 */
 color: white;
}
form { 
  display: inline; 
} 

/* Adjust Block-Quote Text Size, Margin, Border Width */
blockquote {
    padding: 10px 10px;
    margin-left: 30px;
    font-size: 1.4rem;
    border-left: 3px solid;
}



